@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: #1a1919;
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* --color-Main-black: #0c0b09; */
  --color-Main-black: #0d0e0e;
  --color-card-bg: #1a1919;
  --color-Second-black: #1f1e1e;
  --color-Second-Card-bg: #2d2c2c;
  --color-main-text: #b9f821;
  --color-low-white: #b4b4b4;
  --color-soft-border: #232323;
  --color-low-black: #0f0f0f;
  --color-glass-main-text: #1c2409;
  --color-glass-red: #351818;
  --color-glass-yellow: #353517;
  --color-glass-orange: #483511;
  --color-glass-blue: #0f2046;
  --color-glass-green: #1d2f1d;

  --color-error-red: #210101a1;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: white;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --scrollbar-track: #2c2c2c;
  --scrollbar-thumb: #9f9f9f;
  --scrollbar-thumb-hover: #9f9f9f;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

/* Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-['Inter'];
  }
  body {
    @apply !bg-black !text-white;
  }
}
::selection {
  background-color: var(--color-main-text);
  color: black;
}
.gradient-background {
  background: #a5a5a5;
}

.clip-path-div {
  clip-path: polygon(
    0px 0%,
    100% 0,
    100% calc(100% - 17px),
    calc(100% - 28px) 100%,
    0 100%,
    0% 30px
  );
}
/* Loader */
.loader {
  border-radius: 50%;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid #ff00;
  animation: loader 0.7s infinite linear;
}
.loader-white {
  border-radius: 50%;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid rgba(255, 255, 255, 0);
  animation: loader 0.7s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
.white-progress-bar {
  background-color: rgba(255, 255, 255, 0.161) !important;
}
.btn-shadow {
  box-shadow: 0px 3px 0px 1px #5c7322;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-black text-white;
  }
}

.card-black-shadow {
  box-shadow: 0px 4px 0px 0px rgb(53 53 53);
}
.black-box-shadow {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.class-card {
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
}

.exam-head-dash {
  position: relative;
}
.exam-head-dash::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-main-text);
  position: absolute;
  top: 0;
  left: 0;
}

.course-teacher-card {
  position: relative;
}
.course-teacher-card::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-main-text);
  position: absolute;
  bottom: 0;
  left: 0;
}

.refresh-rotation {
  rotate: 360deg;
  transition: 500ms;
}
.gradient-black-btn {
  background: #1f1e1e;
  background: linear-gradient(180deg, #494949 -87%, #151515 30%);
}

.folder-clip-path {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 100%,
    80% 100%,
    8% 100%,
    0 0%,
    0% 20%
  );
}
